* {
    box-sizing: border-box;
}
body {
    background-image: url(../images/Purple\ Stars.jpg);
    background-size: cover;
    color: whitesmoke;
}

.gameTitle {
    font-size: 25px;
    font-style: bold;
}

.wrapper-full {
    width: 100%;
    position: relative;
    padding: 0 5%;
}

.wrapper-mid {
    width: 100%;
    position: relative;
}

.wrapper-game {
    width: 50%;
    position: relative;
    float: left;
}

.side-image {
    width: 50%; 
}

.container {
    width: 100%;
    position: relative;
    display: inline-block;
    clear:both;    
}

.containerTop {
    width: 100%;
    position: relative;
    display: inline-block;
    clear:right;
    text-align: center;
}

.spacer {
    margin-bottom: 20px;
    overflow: hidden;
}

.col-1-1 {
    width: 67%;
    height: 16;
    float: left;
}

.col-1-2 {
    width: 33%;
    float: left;
}

/* .col-2a-1 {
    width: 25%;
    height: 16;
    float: left;
}

.col-2a-2 {
    width: 75%;
    height: 16;
    float: left;
} */

.Cloud, .Cid, .Kefka, .Vivi{
    width: 20%;
    border-style: ridge;
    border-color: whitesmoke;
    border-width: 2px;
    height: 150px;
    float: left;
    text-align: center;
}
.characterImage {
    height: 75%;
    margin: 0 auto;
    display: block;
}

.col-3a-1 {
    width: 25%;
    height: 16;
}


.fightButton {
    height: 32px;
    border-style: ridge;
    border-color: whitesmoke;
    border-width: 2px;
    width: 95px;
    background-color: #2f30da
}

.combatFeed {
    border-style: ridge;
    border-color: whitesmoke;
    border-width: 2px;
    width: 95%;
    background-color: #2f30da
}

.buttonText {
    margin: 6 22;
    padding-left: auto;
}

.gameStartTitles {
    display: none;
}

.rivalSelectText {
    display: none;
}
